<h2>Welcome <%= @user.name %></h2>

email: <%= @user.email %><br><br>

<% if flash[:message].present? %>
  <strong><%= flash[:message] %></strong>
<% end %>
<hr>
Conflicts followed:<br>

<% @user.conflicts.each do |conflict|%>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src=<%= conflict.image %> alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= conflict.name %></h5>
    <p class="card-text clearfix hidden-md-down"><%= conflict.text %></p>
    <%= link_to "See conflict", conflict_path(conflict.id), class: "btn btn-primary" %><br>
  </div>
</div>





<%end  %>
