<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
  </head>

  <body>
    <nav>
    <% if @current_user.present? %>
      You are logged in as <%= @current_user.name %>
      <%= link_to 'Logout', login_path, method: 'delete', class:'logout btn btn-outline-dark' %>

    <% else %>
      <%= link_to 'Login', login_path, class: "btn btn-outline-dark" %>
      <%= link_to 'Sign up', new_user_path, class: "btn btn-outline-dark" %>

    <% end %>

  </nav>


      <hr>
    <h1 class="display-1 text-center">Ongoing Conflicts</h1>
    <h1 class="display-1 text-center">In Our World</h1>
    <br>
    <h5 class="display-5 text-center">Can't we all just get along?</h3>
    <%= link_to "Continents", continents_path%>  ||
    <%= link_to "Conflicts", conflicts_path%>
    <%= yield %>
  </body>
</html>
